{% extends 'CertwebAPP/base.html' %}
{% block title %}Sobre mí{% endblock %}
{% block content %}
<h1>Sobre mí</h1>
<p>Soy <strong>Ismael Ardoy García</strong>, Ingeniero Mecánico en Málaga, próximo a colegiarme para ofrecerte la máxima garantía profesional.</p>

<p>Gracias a mi formación y experiencia en proyectos de climatización, ventilación y eficiencia energética, realizo certificados energéticos con rigor y rapidez.</p>

<p>Mi objetivo: hacer fácil el proceso para que cumplas la normativa sin complicaciones.</p>
{% endblock %}